src/conf/xml-resources/web-service-references/Service/wsdl/vhost3.cs.rit.edu/weather/Service.svc.xsd_xsd0.xsd

<?xml version="1.0" encoding="utf-8"?><xs:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://tempuri.org/"><xs:element name="getWeather"><xs:complexType><xs:sequence><xs:element minOccurs="0" name="city_name" nillable="true" type="xs:string"/><xs:element minOccurs="0" name="state_name" nillable="true" type="xs:string"/></xs:sequence></xs:complexType></xs:element><xs:element name="getWeatherResponse"><xs:complexType><xs:sequence><xs:element minOccurs="0" name="getWeatherResult" nillable="true" type="xs:string"/></xs:sequence></xs:complexType></xs:element><xs:element name="getWeather_hourly"><xs:complexType><xs:sequence><xs:element minOccurs="0" name="city_name" nillable="true" type="xs:string"/><xs:element minOccurs="0" name="state_name" nillable="true" type="xs:string"/><xs:element minOccurs="0" name="hourly" type="xs:boolean"/></xs:sequence></xs:complexType></xs:element><xs:element name="getWeather_hourlyResponse"><xs:complexType><xs:sequence><xs:element minOccurs="0" name="getWeather_hourlyResult" nillable="true" type="xs:string"/></xs:sequence></xs:complexType></xs:element><xs:element name="getWeather_tenDays"><xs:complexType><xs:sequence><xs:element minOccurs="0" name="city_name" nillable="true" type="xs:string"/><xs:element minOccurs="0" name="state_name" nillable="true" type="xs:string"/><xs:element minOccurs="0" name="tenday" type="xs:boolean"/></xs:sequence></xs:complexType></xs:element><xs:element name="getWeather_tenDaysResponse"><xs:complexType><xs:sequence><xs:element minOccurs="0" name="getWeather_tenDaysResult" nillable="true" type="xs:string"/></xs:sequence></xs:complexType></xs:element></xs:schema>